.post
  position: relative
  border-bottom: 1px dashed color_2
  margin: 0 0 4.5em
  padding: 0 0 3em
  .post-cat
    display: inline-block
    margin: 0 0 5px
    &:first-of-type::after
      content: "\00B7"
      margin: 0 .75em
      color: color_1
    &:last-of-type::after 
      content: ''
    a
      font: 700 13px
      color: color_1
      text-decoration: none
      transition: .3s
      text-transform: upperCase
      letter-spacing: 1px
      &:hover
        color: color_3

  .post-title
    margin: 0 0 .5em
    font: 3em font-family 
    color: color_4
    font-weight: 700
    a
      transition: .5s cubic-bezier(.71,0,0,.99)
      text-decoration: none
      box-shadow: inset 0 -0.3em 0 color_1
      &:hover
        box-shadow: inset 0 -0.8em 0 color_1


  .post-date
    padding: 0
    list-style: none
    color: color_3
    font: 14px/1.6 font-family
    li 
      display: inline-block
      &:first-child::after
        content: "\00B7"
        margin: 0 .75em
  .post-cover
    position: relative
    pointer-events: none
    img
      max-width: 80%

  .post-content
    position: relative
    color: color_4
    font-size: 1rem
    line-height: 1.6
    margin-bottom: 1.5em
    text-align: left
    figure
      overflow-y: scroll
    blockquote
      margin-inline-start: 0
      margin-inline-end: 0
      border-left: 2px color_3 solid
      padding-left: 2em;
    img
      max-width: 100%
      border-radius: 4px
